<%= form_for :session, url: login_path do |f| %>

	<label>
			<%= f.email_field :email,:required => true %> 
			<div class="label-text" > Email </div>
		</label>

	<label>
		<%= f.password_field :password, :required => true %>
		<div class="label-text" > Password </div>
	</label>


<%= f.submit "LOGIN" %>

<% end %>


