<div >
<h4 >Terms and Conditions</h4>
<p>
Please carefully read the following terms and conditions that govern the proper use of our web application and any and all related content provided in the paid and unpaid sections
</p>

<p>
By using our Web Application, you hereby agree to these Terms and Conditions of Use(“Terms and Conditions”). We hereby notify you that we reserve the right in our sole discretion to change, modify, add, remove and update any parts of these Terms and Conditions at any time as we see fit.

You should check these Terms and Conditions on a regular basis and will be notified when changes are made. You agree to the Terms and Conditions after we update them upon your use of this Web Application. If you do not agree with these Terms and Conditions, you must not use this web application and should delete your subscription with us. 
</p>
</div>

<div >
<h4 >Scope of Terms and Conditions</h4>
<p>
Unless indicated otherwise, our Terms and Conditions apply to the use of all content owned and provided by 2hRDieT.herokuapp.com web application.
</p>

</div>

<div >
<h4 >General Terms and Conditions</h4>
<p>
Using this web application, legally binds you to abide by the Terms and Conditions, as though you had signed this document. Using this web application stands as your digital signature, therefore you are legally bound to abide to the Terms and Conditions of Use.
</p>

<p>
If you do not comply, we reserve the right to terminate your account thereby taking away your access privileges to the paid portion of the application. We also ask that you discontinue the use of our unpaid sections of the web application.
</p>

<p>
We may discontinue, modify or alter any portion of the web application(paid and unpaid) without prior notice or liability. This alterations and modifications include but are not limited to 
</p>
<ol>
<li>Restricting the times the Web Application is Available</li>
<li>Restricting the number of users</li>
<li>Terminating access and rights of the user</li>
</ol>

<p>
You agree that terminating or cancelling access and rights may be effected without prior notice. If you cannot comply and do not comply to our Terms and Conditions, you agree that we can immediately terminate your account and delete all user and account related information and bar any access to our application. 
</p>

<p>
You also agree that we shall not be liable for you or any third party cancellation or termination of your access and use of 2hRDieT web application.
</p>

</div>


<div >
<h4 >Requirements for Use of 2hRDieT Service</h4>

<p>
Only persons age 13 years or older can create accounts. Accounts for persons under 13 years old can be created under the name of the legal guardian and should be marked as such. These accounts must be monitored and supervised by a registered healthcare professional such as a Primary Care Physican. 
</p>
</div>

<div >
<h4 >Health Disclaimer</h4>
<p>
This web application provides weight loss and weight management tools to be followed and is only intended to assist in personal weight loss and weight management efforts. 2hRDieT is not a medical organization and we cannot give you medical advice or provide diagnosis. No information and content presented in this web application may be construed as medical advice or be used to provide diagnosis-this is strictly forbidden. In such a case, contact your Physician. The information we provide should not at any time substitute your Physicians’ recommendations, evaluations and treatments unless approved by your Physician. 
You are urged and encouraged to seek your Physicians’ approval before beginning a weight loss program. 
This web application is intended for use by healthy adults. 
The website is not intended for minors, pregnant women, or individuals with any type of active health condition or deemed unhealthy by a Physician to begin a weight loss and exercise regimen.
<p>
</div>

<div >
<h4 > Usage Rules</h4>

<ul>
<li>You shall be authorized to use 2hRDieT for personal, noncommercial use</li>
<li>You shall not collect any information without our legal consent for any scientific research and purposes including commercial gain</li>
<li>You shall follow the set program as it is presented to you and shall validate your participation via the checkIn button and follow the practices in order to track your progress and unlock any accomplishments as the only way to ensure success and long term accomplishment</li>
<li>You shall not share your account, it’s content, this program and any paid services with another individual who is not a paid member for personal use. </li>
<li>Your progress may vary and may require that you modify your content, but not without the consent of your Physician </li>
<li>You may not under any circumstances continue to use 2hRDieT.herokuapp.com if your BMI is below 18.5 and weight drop 5lbs below your recommended height to weight ratio as recommended by medical professionals </li>
<li>You are not authorized to use and must discontinue use if you are under the threat of a medical condition including but not limited to eating disorders- bulimia nervosa, anorexia or exercise disorders. Promptly see your Physician if such a case arises.</li>
</ul>

</div>

<div >
<h4 >Your Account</h4>

<p>As a registered user of the web application you may establish an account(“Account or Dashboard or Lovelies Dashboard”)
Do not reveal you account information to anyone else.
You are solely responsible for maintaining the confidentiality and security of your account and all activities that occur on or through your account and you agree to notify 2hRDieT immediately of any security breech of your account. 
2hRDieT shall not be responsible for any losses arising out of the unauthorized use of your account.
</p>
</div>

<div >
<h4 >Season Pass, Monthly Pass, Legend Pass</h4>
<p>
The prices of our Season, Fortnight and Monthly price are subject to change. You will be notified upon such changes and will be billed according if it applies to your subscription type. These changes in billing will affect users in the following ways:</p>
<ul>

<li>Currently Registers Seasonal Pass users will not be charged for any these changes, you may continue to use the web application without disruption of service as a result of subscription pass change.</li>
<li>New Registering Seasonal Pass users will be charged the new fee upon registration.</li> 
<li>Currently Registered Monthly Pass Users will be billed for the change at their next billing date. The change will be reflected in your account dashboard and your credit card statement.</li>
<li>New Registering Users who select the monthly pass option will be billed to reflect the new billing changes</li>
<li>Current Legend Pass Users will be billed to reflect the change in price at their next billing date. The change will be reflected in your account dashboard and credit card statement</li>
<li>New Users opting for the Legend Pass will be billed to reflect the price change upon opting into the Legend Pass</li>

</div>

<div >
<h4 >Changing Your Payment Plan</h4>

<p>Currently users cannot change their payment plan once the account is activated.</p>
</div>

<div >
<h4 >Privacy</h4>

<p>Please read our privacy policy here</p>

</div>

<div >
<h4 >Termination</h4>
<p>
If you fail or suspect that 2hRDieT have failed to comply with any of the provisions of this agreement, 2hRDieT at it’s sole discretion without notice to you may 
Terminate this agreement and or your account and you will remain liable for amounts due under your Account for the current billing cycle.
2hRDieT reserves the right to modify suspend or discontinue the service or any part of the content thereof at anytime with or without notice to you and 2hRDieT will not be liable to you or to any third party should it exercise such rights
</p>

</div>

<div >

<h4 >WAIVER AND INDEMNITY</h4>

<p>
BY USING THE APP YOU AGREE, TO THE EXTENT PERMITTED BY LAW, TO INDEMNIFY AND HOLD 2hRDieT, ITS DIRECTORS, OFFICERS, EMPLOYEES, AFFILIATES, AGENTS, CONTRACTORS, PRINCIPALS, AND LICENSORS HARMLESS WITH RESPECT TO ANY CLAIMS ARISING OUT OF YOUR BREACH OF THIS AGREEMENT, YOUR USE OF THE APP AND SERVICES, OR ANY ACTION TAKEN BY 2hRDieT AS PART OF ITS INVESTIGATION OF A SUSPECTED VIOLATION OF THIS AGREEMENT OR AS A RESULT OF ITS FINDING OR DECISION THAT A VIOLATION OF THIS AGREEMENT HAS OCCURRED. THIS MEANS THAT YOU CANNOT SUE OR RECOVER ANY DAMAGES FROM 2hRDieT, ITS DIRECTORS, OFFICERS, EMPLOYEES, AFFILIATES, AGENTS, CONTRACTORS, PRINCIPALS, AND LICENSORS AS A RESULT OF ITS DECISION TO REMOVE OR REFUSE TO PROCESS ANY INFORMATION OR CONTENT, TO WARN YOU, TO SUSPEND OR TERMINATE YOUR ACCESS TO THE APP SERVICES, OR TO TAKE ANY OTHER ACTION DURING THE INVESTIGATION OF A SUSPECTED VIOLATION OR AS A RESULT OF APPLE'S CONCLUSION THAT A VIOLATION OF THIS AGREEMENT HAS OCCURRED. THIS WAIVER AND INDEMNITY PROVISION APPLIES TO ALL VIOLATIONS DESCRIBED IN OR CONTEMPLATED BY THIS AGREEMENT.
</p>
</div>

<div >
<h4 >Changes</h4>
<p>
2hRDieT reserves the right at any time to modify this Agreement and to impose new or additional terms or conditions on your use of the App and Services. Such modifications and additional terms and conditions will be effective immediately and incorporated into this Agreement. Your continued use of the App and Services will be deemed acceptance thereof.
</p>
</div>

<div >
<h4 >Miscellaneous Terms</h4>
<p>
In any action against us, arising from the use of this web application and web site, the prevailing party shall be entitled to recover all legal expenses incurred in connection with the action, including but not limited to costs, both taxable and non-taxable and reasonable attorney fees.</p>
</div>
</article>
