<% provide(:title, "Welcome") %>
<div id="home-pg">
	<div id="home-opts">
		<h4 class="home-header" id="intro">Introducing the2hRDiet </h4>
		<h4 class="home-header" id="hiw">How it Works </h4>
		<h4 class="home-header" id="food">Food and the Body </h4>
		<h4 class="home-header" id="more">More </h4>
		<h4 class="home-header" id="ideal"> Ideal WeightLoss + Lifetime Management </h4>
	</div>

	<div id="home-opts-content">
		<div id='band'>
		</div>
		<%= image_tag("introClock-01.png", :class => 'homeIcon' )%>
		<div class="explain exp-def" id="intro-explain">
			<p class='home-explain  '> Eating shouldn't be hard </p>
			<p class="home-expl-parag intro-parag">'Diet' simply means the way we eat.  Most diets tell us to eat when we are hungry which we can never really tell anymore - is this hunger, boredom a craving? or not to eat a whole list of foods we barely remember or count as we eat which is exhausting.</p>
			<p class="home-expl-parag">The 2hRdieT takes the frustration out of the most basic thing we all do 'EAT' and makes it enjoyable again. The 2hRDieT allows you to eat every 2 hours. This means that you eat within 2 hours of waking and 2 hours  before going to bed. </p>
			<p class="home-expl-parag">You can eat anything you like, we suggest healthy food, but that's up to you, there aren't any limitations. </p>
		</div>
		<div class="explain" id="hiw-explain">
						<p class='home-explain'> How It Works</p>
			<p class="home-expl-parag intro-parag">The 2hRdieT takes the frustration out of the most basic thing we all do 'EAT' and makes it enjoyable again. The 2hRDieT allows you to eat every 2 hours. </p>
			<p class="home-expl-parag">This means that you eat within 2 hours of waking and 2 hours  before going to bed.You can eat anything you like, we suggest healthy food, but that's up to you, there aren't any limitations. </p>

		</div>
		<div class="explain" id="food-explain">
			<p class='home-explain'> Food and the Body </p>
			<p class="home-expl-parag intro-parag"> Food takes 30minutes to move from our mouths through our guts, stomachs and then intestines(try tracking the time it takes to get the effects of food poisoning ).</p>
			<p class="home-expl-parag"> Once in the intestines, the food is digested and separated in useful(nutritionally rich which means it contains minerals, proteins, carbs, fat compounds that the body processes need to carry out their various chemical reactions to sustain life and the stuff the body doesn't need which is slated for removal from the body. </p>
			<p class="home-expl-parag">It's a beautiful process. </p>

		</div>
		<div class="explain" id="more-explain">
			<p class='home-explain'> More... </p>
			<p class="home-expl-parag intro-parag"> The body usually uses up the resources or food supplied to it in 1-2hrs. How?</p>
			<p class="home-expl-parag"> Using your arms takes up alot of energy, ensuring cells are repaired and are able to carry out their various functions like meiosis or meitosis takes up alot of energy. Walking to your refridgerator or doing something as mundane as picking a nail file off the floor takes up alot of energy, so does singing in the shower, showering itself - scrubbing your body is an involved process. Heck chewing your favorite pineapple+apple gum takes up alot of energy. </p>
			<p class="home-expl-parag">So it's not surprising your body beacons you for more food within a short period of having had a meal, which averages 2 hours. </p>
		</div>
		<div  class="explain" id="ideal-explain">
						<p class='home-explain'>iDeal Weight</p>
			<p class="home-expl-parag intro-parag"> iDeal weight is attainable without torturing yourself... All you have to do is eat every 2 hours. EASY.
			Not doing so is like not putting a full tank of gas in your car and expecting it to run on close of empty fill ups, every other day. It will soon give you up for better pastures. </p>
			<p class="home-expl-parag">Eating every two hours in amazing, first you don't deprive yourself AT ALL and eat everything you enjoy - A FOOD LOVER'S paradise, then you never feel deprived and so don't binge and you let go of the frustration of disatisfaction, that comes with depriving yourself. You are not cranky anymore and you get to explore all food options from the most questionable to the most healthy on your own terms. </p>
			<p class="home-expl-parag">The best part is that you don't have to worry about your weight. You can't overflow a gas tank unless you are being careless and wasteful. Same goes with your body, your body will stop you from eating once you've had enough. This is the way to your iDeal Weight. </p>
		</div>
		<div id='bandtwo'>
		</div>
	</div>
	</div>

		<div class="footer-content"  id="health-policy">
		<p class="hparag" style="margin-top: 125px;">the2hRDieT is a weight loss and weight management tool developed with your wellness in mind. However the2hRDieT is not a medical organization and should not in any event be substituted for one. Therefore we cannot and will not dispense medical advice.</p>

<p  class="hparag">We strongly urge and recommend that you receive medical examinations before starting our practice and during our practice because weight loss can create physical changes that may need to be medically monitored by a healthcare professional.</p>

<p class="hparag" >Monitoring your medical health is especially important for people with pre-existing medical conditions. Our tool is helpful but is not intended to treat any illness or disease.</p>

<p class="hparag">In addition we prohibit participation of children or pregnant women unless monitored and supervised by a primary care physician.</p>

<p  class="hparag">We prohibit participation of any one with an active diagnosis of bulimia nervosa, or individuals whose weight is less that the recommended weight range to height ratio(who are underweight).</p>

 <p class="hparag">If you are being treated for disease or following a therapeutic diet, it is important to show your Physician the2hRDieT tool and follow any recommendations your Physician may make(please look at the Terms and Conditions for additional stipulations).</p>

<p class="hparag"> TOOL is designed for a safe rate of weight loss, it is not to be abused in any way to accelerate weight loss, it is important that you follow the plan and allow your body to make gentle changes and adaptions over time in order to prevent any health complications. Responsibility is a core teaching and building trust with yourself is important for long term wellness. Please adhere to the practices taught and do not abuse the information given by rapidly decreasing your portions, over exercising, eating less that your daily caloric needs.  If you find yourself losing weight faster, you should see a physician and work with them on how you can maintain your recommended weight range.</p>


<p class="hparag">Our goal is to provide a safe and effective way to create habits that promote weight loss and long term weight management. It is extremely important that you adhere to our recommendations as they have been carefully implemented with your wellness in mind. </p>
	</div>

	<div class="footer-content"  id="termsc">
		<%= render 'app_pages/terms' %>
	</div>

	<div class="access-forms" id="signup-form">
		<%= render 'buyers/signup' %>
	</div>

	<div class="access-forms" id="login-form">
		<%= render 'sessions/login' %>
	</div>

</div>
