<%= form_for :buyer, url: start_path do |f| %>


	<label>
<%= f.text_field :username,:required => true %>
<div class="label-text" > username</div>
</label>


<label>
<%= f.email_field :email,:required => true %> 
<div class="label-text" > Email </div>
</label>

<label>
<%= f.password_field :password, :required => true %>
<div class="label-text" > Password </div>
</label>

<label>
<%= f.password_field :password_confirmation, :required => true %>
<div class="label-text" > Password Confirmation </div>
</label>

<%= f.submit "START" %>


<% end %>