<% provide(:title, "Dashboard") %>
<div id="buyer-dashboard">
	<div id="buyer-logo">
		<p id="username"> <%= current_user.username %>'s <br> 2hRDieT</p>
	</div>

	<% if current_user.new_session %>
		<p> <% @endDate =  Date.today + 22 %> </p>
		<p> <% @startDate =  Date.today %> </p>
		<p> <% @daysBetween = (@startDate...@endDate).count %> </p>
		<% if current_user.first_signup %>
			<p><% @num = current_user.session_num + 0 %></p>
			<% current_user.first_signup = false %> 
		<%else%>
			<p><% @num = current_user.session_num + 1 %></p>
		<%end%>

		<% BuyerSession.new(buyer_id: current_user.id, startDate: @startDate, endDate: @endDate, sessionNum: @num).save %>
		<p> <%= @daysBetween   %> </p>
	<% end %>

	<p> <%= @current_day = ((current_user.buyer_sessions.find_by(sessionNum: @num).startDate)...Date.today).count  %> </p>

	<%= image_tag("2hrdiet-01.png", :id => 'dashIcon' )%>

	<div id="updates">
		<p> Click the CheckIn Button to generate today's meal times. </p>
		<%= form_for :checkIn, url: create_daily_tracker_path do |f| %>
		<%= f.hidden_field :dailyCheckIn %>
			<%= f.submit 'CheckIn', :id=>"dailyCheckIn" %>
		<% end %>
	</div>


	<div id="current_day">
		<div id="day_tracker">
			<p> Current Day </p>
			<div class="dayNum"><p><%= @current_day %>/21</p></div>
		</div>

		<div id="main_content">
	
			<p class="dash-main"><button class="mealCheck"> Report Meal </button>Mealtime </p>
			<p class="dash-main"> <button class="mealCheck"> Reported Meal </button>Mealtime </p>
		</div>

		<div id="meal-sug">
			<div class="meal-sug-icons">
			</div>
			<div class="meal-sug-content">
			<p> Meal Suggestions </p>
			<% if @nutrition.count > 1 %>
				<% @randomRecord = rand(1..@nutrition.count)%>
			<% else %>
				<p class="nutri-sug"> The best way to lose weight and keep it off if to eat every 2hours </p>
			<% end %>
			
		</div>
		</div>
	</div>

	<div id="days">
		<% for x in 0..21 %>
			<div class="day-data"><p class="day-label">Day<%=x%></p></div>
		<%end%>
	</div>


</div>

<div class= "acct-forms" id="edit-acct-form">
	<%= render 'buyers/edit' %>

</div>

<div class="acct-forms" id="contect-acct-form">

</div>

	<div id="settings">
		<p class="acct-bttn" id="edit-acct"> Edit Password </p>
		<p> <%= link_to "Log out", logout_path, method: :delete %> </p>
	</div>