// Place all the styles related to the AppPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 2560px) {
	#homeIcon{
		width: 180px;
		height: 180px;
		position: fixed;
		left: 200px;
		top: 25px;

	}
	h4{
		font-family: 'Open Sans', sans-serif;
		font-size: 2.0em;
		cursor: pointer;
		color: #CCB6D9;
		#color: #963192;
		letter-spacing: 2px;
	}
	p{
		font-family: 'Muli', sans-serif;
		color: #587DB3;
		font-size: 1.5em;
	}

		ol, li{
		font-family: 'Muli', sans-serif;
		color: #587DB3;
		font-size: 0.90em;
	}

	#home-opts{
		position: fixed;
		left: 2%;
		top: 270px;
		#border: 2px solid #587db3;
	}
	
	#home-opts-content{
		position: fixed;
		right: 13%;
		top: 110px;
		width: 650px;
		height: 750px;
	}
	footer{
		position: fixed;
		bottom: 30px;
		width: 100%;
	}

	#band{
		   width: 110px;
    height: 750px;
    background-color: #CCB6D9;
    position: absolute;

	}

	#bandtwo{
	width: 80px;
    height: 390px;
    background-color: #CCB6D9;
    position:absolute;
    left: 55px;
    top:150px
	}

	.home-explain{
		position: absolute;
		left: 300px;
	}
	.explain{
		position: absolute;
		width: 90%;
		height: 90%;
		left: 30px;
		top: 35px;
		display: none;
        border-radius: 10px;
        background-color: white;
        -webkit-box-shadow: 0 10px 6px -6px gray;
       -moz-box-shadow:0 1px 4px gray;
        box-shadow:0 1px 10px  gray ;
        overflow-y: auto;
	}
	.exp-def{
		display: block;
	}

	button{
	  	color:  #587db3;
  		padding: 15px 32px;
  		text-align: center;
  		border: none;
  		text-decoration: none;
  		display: inline-block;
  		font-size: 16px;
  		margin: 4px 2px;
  		cursor: pointer;
	}

	header{
		position: fixed;
		top: 25px;
		right: 25px;
	}
	.bttn{
		font-size: 1.4em;
	}

	#signup-bttn{
		color: #E16325;
		border: 2px solid #e16325;
		border-radius: 7px;
	}
	.footer-content{
		width: 50%;
		height: 750px;
		position: fixed;
		top: 110px;
		left: 25%;
		overflow: auto;
		display: none;
	}
	.access-forms{
		position: fixed;
		right: 17%;
		top: 200px;
		width: 650px;
		height: 750px;
		display: none;
	}

	label{
		display: block;
		padding-top: 35px;
		text-align: center;
		letter-spacing: 4px;
		color: #604677;
		font-family: 'Nunito', sans-serif;
	}
	


	label .label-text{
		font-size: 1.2em;
		line-height: 15px;
  		-moz-transform: translateY(-32px);
  		-ms-transform: translateY(-32px);
  		-webkit-transform: translateY(-32px);
  		transform: translateY(-32px);
  		transition: all 0.3s; 
	}

	input[type=text], input[type=email], input[type=password], input[type=date], input[type=time] {
		background-color: transparent;
    	border: 0;
    	border-bottom: 2px solid #604677;
    	color: #C23F97;
    	font-size: 18px;
    	letter-spacing: -1px;
    	outline: 0;
    	padding: 5px 20px;
    	text-align: center;
    	transition: all 0.3s;
    	max-width: 100%;
    	font-family: 'Nunito', sans-serif;
    	letter-spacing: 3px;
    	font-size: 1.15em;
	}

	input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus, input[type=time]:focus{
  		width: 250px;
	}


	label input[type=text]:focus + div.label-text, label input[type=email]:focus + div.label-text,  label input[type=password]:focus + div.label-text, label input[type=date]:focus + div.label-text, label input[type=time]:focus + div.label-text{
		color: #C23F97;
  		font-size: 13px;
  		-moz-transform: translateY(-64px);
  		-ms-transform: translateY(-64px);
  		-webkit-transform: translateY(-64px);
  		transform: translateY(-64px);
		
	}



	label input[type=text]:valid + div.label-text, label input[type=email]:valid + div.label-text, label input[type=password]:valid + div.label-text, label input[type=date]:valid + div.label-text, label input[type=time]:valid + div.label-text {
  		font-size: 12px;
  		-moz-transform: translateY(-64px);
  		-ms-transform: translateY(-64px);
  		-webkit-transform: translateY(-64px);
  		transform: translateY(-64px);
	}


	input[type=submit]{
		background-color: rgba(255, 255, 255, 0.35);
		color: #604677;
		border-radius: 27px ;
		padding: 15px 30px;
		border: 2px solid #604677;
		text-align: center;
		text-decoration: none;
		font-size: 14px;
		margin-top: 10px;
		cursor: pointer;
		transition: all 200ms;
		font-family: 'Nunito', sans-serif;
		position: relative;
		left: 38%;
	}

  .home-expl-parag{
  	       color:#A55BA3;
        font-size: 0.90em;
        width: 305px;
        margin: 0 auto;

        padding-top: 35px;
    
  }
  .intro-parag{
  	margin-top:100px;
  }
  .hparag{
  	font-size: 1.0em;
  }
}


@media screen and (max-width: 1242px) {
}