// Place all the styles related to the Buyers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 2560px) {

.alert-danger, .alert-error{
		background-color: #ff000017;
    	z-index: 50;
    	color: red;
    	position: fixed;
    	top: 0px;
    	padding: 14px;
    	border-radius: 5px;
    	width: 35%;
    	left: 0;
    	text-align: center;
 
	}

	.alert-success{
		background-color:#ff00e02e;
    	z-index: 50;
    	color: #b462b5;
    	position: fixed;
    	top: 0px;
    	padding: 14px;
    	border-radius: 5px;
    	width: 100%;
    	left: 0;
    	text-align: center;
	}

    .alert-info{
        background-color:#00ff082e;
        z-index: 50;
        color: #4caf50;
        position: fixed;
        top: 0px;
        padding: 14px;
        border-radius: 5px;
        width: 100%;
        left: 0;
        text-align: center;

    }

    #buyer-logo{
        width: 150px;
        height: 150px;
        background-color: #963192;
        border-radius: 50%;
    }
    .day-data{
        display:inline-block;
        width: 100px;
        height:100px;
        border-radius:50%;
        background-color: #A4BCE2;
        opacity: 0.35;
        margin-left: 25px;

    }

    .nutri-sug{
        color:#A55BA3;
        font-size: 0.95em;
        text-align: center;
    }

    #username{
        position: fixed;
        left: 15px;
        top: 25px;
        font-size: 1.5em;
        color: white;
    }
    #updates{
        position: fixed;
        top: 5px;
        left: 35%;
        width: 650px;
        height: 85px;
        text-algin: center;
        font-size: 0.95em;
    }
    #settings{
        position: fixed;
        bottom: 20px;
        left: 10px;
    }
    #day_tracker{
        position: fixed;
        left: 150px;
        top: 250px;
                width: 250px;
        height: 350px;

    }
    #main_content, .acct-forms{
        position: fixed;
        top: 150px;
        left: 40%;
        width: 450px;
        height: 550px;
        border-radius: 10px;
        background-color: white;
        -webkit-box-shadow: 0 10px 6px -6px gray;
       -moz-box-shadow:0 1px 4px gray;
        box-shadow:0 1px 10px  gray ;
        overflow-y: auto;
}

.acct-forms{
    display:none;
}

.edit-a{
    z-index: 10;
}

    #meal-sug{
        position: fixed;
        right: 40px;
        top: 200px;
        width: 600px;
        height: 350px;

    }
    .meal-sug-content{
        position: absolute;
        left: 185px;
        top: 10px;

    }
    #days{
        position: fixed;
        bottom: 45px;
        left: 30%;
        width: 55%;
        height: 150px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
  }
  .meal-sug-icons{
    width: 120px;
    height: 350px;
    background-color: #CCB6D9;
    margin-left: 55px;
  }

  .dayNum{
    width: 185px;
    height: 185px;
    border-radius: 50%;
    background-color: #A4BCE2;
    color: white;
  }
  .dayNum p{
  color: white;
  margin: 0 auto;
  padding-left: 35px;
  padding-top: 45px;
  font-size: 2.8em;

  }

  .day-label{
    color: white;
    margin: 25px auto;
    padding-left: 25px;
    }

    #dashIcon{
        position: fixed;
        top: 270px;
        left: 25%;
        width: 200px;
        height: 200px;
        opacity: 0.35;
    }

    #dailyCheckIn{
    background-color: #E16325;
    color: white;
    border-radius: 10px;
    position: absolute;
    left: 35%;
    border: none;
    top: 50px;
    }

    .dash-main{
    border-bottom: 2px solid #587DB3;
    padding-bottom: 10px;
    width: 85%;
    margin: 55px auto;
    }
    .mealCheck{
        border: 2px solid #A4BCE2;
        font-size: 0.35em;
        padding: 10px;

    }
    #setCheckIn{
        visibility: hidden;
    }
    .acct-bttn{
        cursor: pointer
    }
}

@media screen and (max-width: 1242px) {

}