<header>
	<% if logged_in? %>

	<% else %>
	<%= link_to image_tag("2hrdiet-01.png", :id => 'homeIcon' ), root_url %>
 <button class="bttn" id="signup-bttn"> Sign Up </button>
 <button class="bttn" id="login-bttn"> LogIn </button>
 	<% end %>
</header>